@import "_variables";

/*------------------------ */
/*HERO SECTION */
/*------------------------ */

.hero {
  background-image: url(../../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(11, 100%, 65%), hsl(356, 100%, 63%));
  /*linear-gradient(135deg, #ff8f70, #ff3d54);*/
  background-repeat: no-repeat;
  background-position: 30% 50%;
  border-bottom-left-radius: 5rem;
}

.btn-very-light-red-hover:hover {
  background-color: $very_light_red;
  color: $white;
}

.btn-very-light-red-hover-reverse:hover {
  background-color: $white;
  color: $very_light_red;
}

.btn-without-bg {
  @include default-text-font;
  @include btn-customize($white, transparent, 0.063rem solid $white, 3.125rem);
}

.btn-login {
  @include default-text-font;
  @include btn-customize($white, transparent, none, 3.125rem);
}

.btn-with-bg + .btn-without-bg,
.btn-login + .btn-with-bg {
  margin-left: 1rem;
}