/*------------------------ */
/*STATE OF THE ART SECTION */
/*------------------------ */

.state-of-the-art-section {
  margin-bottom: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-image: url(../../images/bg-pattern-circles.svg), linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-color: hsl(208, 49%, 24%);
  background-size: 70%, 100%;
  background-position: -48% 81%, 0% 0%;
  color: hsl(0, 0%, 100%);
}

.state-of-the-art--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 67.5rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: -55% bottom;
}

.state-of-the-art--svg {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  margin-top: -4rem;
  margin-left: -3rem;
}

.state-of-the-art--image {
  justify-self: start;
  height: 25rem;
}

.state-of-the-art--information{
  justify-self: end;
  max-width: 100%;
  margin-left: 2rem;
  align-self: center;
}

.state-of-the-art--information--heading {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.state-of-the-art--information--text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}