/*------------------------ */
/*UTILITIES */
/*------------------------ */

.display-grid {
  display: grid;
}

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}